
nav{
  border-bottom-width: 0.2rem;
  border-radius: 0.16rem;
}

.animate-bounce-slow{
  animation: bounce-slow 1.5s infinite;

}

@keyframes bounce-slow {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  
}


.blob{
    border-radius: 25% 75% 22% 78% / 62% 50% 50% 38%;
    box-shadow: rgba(0,0,0,0.1) 0.6rem 0.6rem inset;
    

}
  