@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243 244 246);
}

@font-face {
  font-family: 'Clash';
  src: local('Clash'), url(./fonts/ClashDisplay-Medium.otf) format('truetype');
}